<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://images.squarespace-cdn.com/content/v1/5db600ff172c28427d6f72a5/1610085316989-AHWCSH3XQQ0RBFU8DEWN/ke17ZwdGBToddI8pDm48kPJXHKy2-mnvrsdpGQjlhod7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmihaE5rlzFBImxTetd_yW5btdZx37rH5fuWDtePBPDaHF5LxdCVHkNEqSYPsUQCdT/Eladio-Carrion-Monarca-Cover-y-Tracklist.jpg?format=750w"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title m-2">Todo o Nada</h5>
                <span class="badge bg-warning">Eladio Carrion</span>
                <span class="badge bg-warning">Corina Smith</span>
            </div>
            <div class="card-footer">
                <!--                 <small class="text-muted">{{cancion.release_date}}</small>
 --></div>

        </div>
    </div>